<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="full"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel FileAdmin edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
	{END back_button}
{BEGIN view_page_button}
		<a class="btn btn-sm btn-default" href="fileadmin_view.php?{$editlink}" {$view_page_button_attrs}>{mlang_message VIEW}</a>
{END view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												{BEGIN mastertable_block}
<div data-itemtype="master_info" data-itemid="master_info" {$item_master_info} data-pageid="{$pageid}">
	{$showmasterfile}
</div>
{END mastertable_block}											<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN fileNo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fileNo}  r-vertical-field" 
	data-signal-error-for="fileNo{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="fileNo" data-fieldname="fileNo" >

	<label class="r-edit-label control-label" for="{$labelfor_fileNo}">
		{BEGIN fileNo_label}{$label FileAdmin fileNo }{END fileNo_label}
	</label>
	<div class="r-edit-field">
		{$fileNo_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fileNo">
		<div class="text-muted" >
		{$tooltip FileAdmin fileNo }		</div>
	</div>
</div>


{END fileNo_fieldblock}
											
{BEGIN fileName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fileName}  r-vertical-field" 
	data-signal-error-for="fileName{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="fileName" data-fieldname="fileName" >

	<label class="r-edit-label control-label" for="{$labelfor_fileName}">
		{BEGIN fileName_label}{$label FileAdmin fileName }{END fileName_label}
	</label>
	<div class="r-edit-field">
		{$fileName_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fileName">
		<div class="text-muted" >
		{$tooltip FileAdmin fileName }		</div>
	</div>
</div>


{END fileName_fieldblock}
											
{BEGIN fileType_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fileType}  r-vertical-field" 
	data-signal-error-for="fileType{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="fileType" data-fieldname="fileType" >

	<label class="r-edit-label control-label" for="{$labelfor_fileType}">
		{BEGIN fileType_label}{$label FileAdmin fileType }{END fileType_label}
	</label>
	<div class="r-edit-field">
		{$fileType_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fileType">
		<div class="text-muted" >
		{$tooltip FileAdmin fileType }		</div>
	</div>
</div>


{END fileType_fieldblock}
											
{BEGIN fileSubject_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fileSubject}  r-vertical-field" 
	data-signal-error-for="fileSubject{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="fileSubject" data-fieldname="fileSubject" >

	<label class="r-edit-label control-label" for="{$labelfor_fileSubject}">
		{BEGIN fileSubject_label}{$label FileAdmin fileSubject }{END fileSubject_label}
	</label>
	<div class="r-edit-field">
		{$fileSubject_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fileSubject">
		<div class="text-muted" >
		{$tooltip FileAdmin fileSubject }		</div>
	</div>
</div>


{END fileSubject_fieldblock}
											
{BEGIN fileTitle_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fileTitle}  r-vertical-field" 
	data-signal-error-for="fileTitle{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="fileTitle" data-fieldname="fileTitle" >

	<label class="r-edit-label control-label" for="{$labelfor_fileTitle}">
		{BEGIN fileTitle_label}{$label FileAdmin fileTitle }{END fileTitle_label}
	</label>
	<div class="r-edit-field">
		{$fileTitle_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fileTitle">
		<div class="text-muted" >
		{$tooltip FileAdmin fileTitle }		</div>
	</div>
</div>


{END fileTitle_fieldblock}
											
{BEGIN fileClassLevel_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fileClassLevel}  r-vertical-field" 
	data-signal-error-for="fileClassLevel{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="fileClassLevel" data-fieldname="fileClassLevel" >

	<label class="r-edit-label control-label" for="{$labelfor_fileClassLevel}">
		{BEGIN fileClassLevel_label}{$label FileAdmin fileClassLevel }{END fileClassLevel_label}
	</label>
	<div class="r-edit-field">
		{$fileClassLevel_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fileClassLevel">
		<div class="text-muted" >
		{$tooltip FileAdmin fileClassLevel }		</div>
	</div>
</div>


{END fileClassLevel_fieldblock}
											
{BEGIN fileTeacherName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fileTeacherName}  r-vertical-field" 
	data-signal-error-for="fileTeacherName{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="fileTeacherName" data-fieldname="fileTeacherName" >

	<label class="r-edit-label control-label" for="{$labelfor_fileTeacherName}">
		{BEGIN fileTeacherName_label}{$label FileAdmin fileTeacherName }{END fileTeacherName_label}
	</label>
	<div class="r-edit-field">
		{$fileTeacherName_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fileTeacherName">
		<div class="text-muted" >
		{$tooltip FileAdmin fileTeacherName }		</div>
	</div>
</div>


{END fileTeacherName_fieldblock}
											
{BEGIN fileRaw_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fileRaw}  r-vertical-field" 
	data-signal-error-for="fileRaw{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="fileRaw" data-fieldname="fileRaw" >

	<label class="r-edit-label control-label" for="{$labelfor_fileRaw}">
		{BEGIN fileRaw_label}{$label FileAdmin fileRaw }{END fileRaw_label}
	</label>
	<div class="r-edit-field">
		{$fileRaw_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fileRaw">
		<div class="text-muted" >
		{$tooltip FileAdmin fileRaw }		</div>
	</div>
</div>


{END fileRaw_fieldblock}
											
{BEGIN fileMD5_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fileMD5}  r-vertical-field" 
	data-signal-error-for="fileMD5{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="fileMD5" data-fieldname="fileMD5" >

	<label class="r-edit-label control-label" for="{$labelfor_fileMD5}">
		{BEGIN fileMD5_label}{$label FileAdmin fileMD5 }{END fileMD5_label}
	</label>
	<div class="r-edit-field">
		{$fileMD5_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fileMD5">
		<div class="text-muted" >
		{$tooltip FileAdmin fileMD5 }		</div>
	</div>
</div>


{END fileMD5_fieldblock}
											
{BEGIN fileDuration_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fileDuration}  r-vertical-field" 
	data-signal-error-for="fileDuration{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="fileDuration" data-fieldname="fileDuration" >

	<label class="r-edit-label control-label" for="{$labelfor_fileDuration}">
		{BEGIN fileDuration_label}{$label FileAdmin fileDuration }{END fileDuration_label}
	</label>
	<div class="r-edit-field">
		{$fileDuration_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fileDuration">
		<div class="text-muted" >
		{$tooltip FileAdmin fileDuration }		</div>
	</div>
</div>


{END fileDuration_fieldblock}
											
{BEGIN fileStatus_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fileStatus}  r-vertical-field" 
	data-signal-error-for="fileStatus{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="fileStatus" data-fieldname="fileStatus" >

	<label class="r-edit-label control-label" for="{$labelfor_fileStatus}">
		{BEGIN fileStatus_label}{$label FileAdmin fileStatus }{END fileStatus_label}
	</label>
	<div class="r-edit-field">
		{$fileStatus_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fileStatus">
		<div class="text-muted" >
		{$tooltip FileAdmin fileStatus }		</div>
	</div>
</div>


{END fileStatus_fieldblock}
											
{BEGIN filePath_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_filePath}  r-vertical-field" 
	data-signal-error-for="filePath{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="filePath" data-fieldname="filePath" >

	<label class="r-edit-label control-label" for="{$labelfor_filePath}">
		{BEGIN filePath_label}{$label FileAdmin filePath }{END filePath_label}
	</label>
	<div class="r-edit-field">
		{$filePath_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="filePath">
		<div class="text-muted" >
		{$tooltip FileAdmin filePath }		</div>
	</div>
</div>


{END filePath_fieldblock}
											
{BEGIN censorUsername_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_censorUsername}  r-vertical-field" 
	data-signal-error-for="censorUsername{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="censorUsername" data-fieldname="censorUsername" >

	<label class="r-edit-label control-label" for="{$labelfor_censorUsername}">
		{BEGIN censorUsername_label}{$label FileAdmin censorUsername }{END censorUsername_label}
	</label>
	<div class="r-edit-field">
		{$censorUsername_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="censorUsername">
		<div class="text-muted" >
		{$tooltip FileAdmin censorUsername }		</div>
	</div>
</div>


{END censorUsername_fieldblock}
											
{BEGIN censorApproveTime_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_censorApproveTime}  r-vertical-field" 
	data-signal-error-for="censorApproveTime{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="censorApproveTime" data-fieldname="censorApproveTime" >

	<label class="r-edit-label control-label" for="{$labelfor_censorApproveTime}">
		{BEGIN censorApproveTime_label}{$label FileAdmin censorApproveTime }{END censorApproveTime_label}
	</label>
	<div class="r-edit-field">
		{$censorApproveTime_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="censorApproveTime">
		<div class="text-muted" >
		{$tooltip FileAdmin censorApproveTime }		</div>
	</div>
</div>


{END censorApproveTime_fieldblock}
											
{BEGIN censoReson_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_censoReson}  r-vertical-field" 
	data-signal-error-for="censoReson{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="censoReson" data-fieldname="censoReson" >

	<label class="r-edit-label control-label" for="{$labelfor_censoReson}">
		{BEGIN censoReson_label}{$label FileAdmin censoReson }{END censoReson_label}
	</label>
	<div class="r-edit-field">
		{$censoReson_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="censoReson">
		<div class="text-muted" >
		{$tooltip FileAdmin censoReson }		</div>
	</div>
</div>


{END censoReson_fieldblock}
											
{BEGIN censorStatus_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_censorStatus}  r-vertical-field" 
	data-signal-error-for="censorStatus{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="censorStatus" data-fieldname="censorStatus" >

	<label class="r-edit-label control-label" for="{$labelfor_censorStatus}">
		{BEGIN censorStatus_label}{$label FileAdmin censorStatus }{END censorStatus_label}
	</label>
	<div class="r-edit-field">
		{$censorStatus_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="censorStatus">
		<div class="text-muted" >
		{$tooltip FileAdmin censorStatus }		</div>
	</div>
</div>


{END censorStatus_fieldblock}
											
{BEGIN entryUserName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_entryUserName}  r-vertical-field" 
	data-signal-error-for="entryUserName{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="entryUserName" data-fieldname="entryUserName" >

	<label class="r-edit-label control-label" for="{$labelfor_entryUserName}">
		{BEGIN entryUserName_label}{$label FileAdmin entryUserName }{END entryUserName_label}
	</label>
	<div class="r-edit-field">
		{$entryUserName_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="entryUserName">
		<div class="text-muted" >
		{$tooltip FileAdmin entryUserName }		</div>
	</div>
</div>


{END entryUserName_fieldblock}
											
{BEGIN entryTime_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_entryTime}  r-vertical-field" 
	data-signal-error-for="entryTime{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="entryTime" data-fieldname="entryTime" >

	<label class="r-edit-label control-label" for="{$labelfor_entryTime}">
		{BEGIN entryTime_label}{$label FileAdmin entryTime }{END entryTime_label}
	</label>
	<div class="r-edit-field">
		{$entryTime_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="entryTime">
		<div class="text-muted" >
		{$tooltip FileAdmin entryTime }		</div>
	</div>
</div>


{END entryTime_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							{mlang_message SAVE}			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							{mlang_message CANCEL}			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		{mlang_message RESET}		
		</a>
	</li>
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" data-small >
				<a  href="fileadmin_view.php?{$editlink}" {$view_page_button_attrs}  title="" >
				
		{mlang_message VIEW}		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
